<h1>New book</h1>
   <% @books.each do |f| %>
      <label>title</label>
      <label>body</label>
      <span>
      	<%=link_to book.title, "/todolists/#{book.id}" %>
      		
      	</span>
   <% end %>